@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FEFCE8;
    --foreground: #0F172A;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Nunito', sans-serif;
  background-image: radial-gradient(#CBD5E1 1.5px, transparent 1.5px);
  background-size: 32px 32px;
  background-position: 0 0;
  background-attachment: fixed;
}

@layer utilities {
  .glass {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
